@charset "UTF-8";


    a { text-decoration:none !important } a:hover { text-decoration:none !important }       
       
    .TalkPageHeaderModule .column-filter-box-wrapper .column-filter-box-inner{
        display: flex;
        border:1px solid #d3d3d3;
        border-radius:5px;
        width: 93%;
    }
    
    .column-filter-box-inner>div{
        padding:5px 20px;
        text-align: center;
        cursor: pointer;
    }


    .column-filter-box-inner .on{
        background-color: rgb(220, 53, 69);
        color: white;
    }

    .column-filter-box-inner {
        color: black;
    }

    
    #column-select-btn{width: 100%;}


    .thumbnail{
      border: 1px solid white;
      display: inline-block;
      margin: 14px;
   }

   .thumbnail:hover{
      cursor: pointer;
      opacity:0.7;
  }

  .column-conetent{margin-top: 10px;}
  .thumbnail{margin-top: 50px;}
  .test1>div{display: inline-block;}


   