@charset "UTF-8";

/* [한솔] QnA 게시글 리스트 페이지 css */

/* 게시판 제목 스타일 */
.qnaMain{height:100%; margin:0% 4% 0% 4%;}
[class^=qnaMain_]{width:100%; display:flex; margin:auto;}
[class$=top1]{padding-top:2%; padding-left:2%}

/* 게시판 기타 기능 배열 */
.qnaList{width:22%; font-size:14px; margin:auto; text-align:left;}
.qnaMiddle{width:28%;}
.qnaSearch{width:50%; float:left;}

/* 정렬 리스트 스타일 */
.qnaList>div{float:left; width:25%; text-align:center;}

/* 검색, 질문하기 배열 */
.qnaSearch>div{float:left;}
.qnaSearch_tip{width:25%; font-size:14px; text-align:right; padding-top:1.5%; padding-right:3%; color:gray;}
.qnaSearch_question{width:30%; text-align:right; padding-right:5%;}

/* 검색창 스타일 */
.searchArea{
	width:200px; height:31px; margin:0; padding:10px; 
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	border:1px solid rgb(220, 53, 69);
	outline:none; float:left; font-size:13px;
}
.qnaSearch_retrieve>button{
	width:40px; height:31px; margin:0px; border:0px;
	outline:none; float:right; background:rgb(220, 53, 69);
	position:sticky;}
[class$=fa-search]{color:white;}

/* 질문하기 버튼 크기 맞추기 */
.btn{height:33px;}

/* placeholder 스타일 적용 */
input:-ms-input-placeholder{font-size:13px;}   /* 크롬 */
input::-webkit-input-placeholder{font-size:13px;}    /* 익스플로러 */
input::-moz-placeholder{font-size:13px;}   /* 파이어폭스 */

/* 좋/답/조, 게시글, 작성자 배열 */
#qnaLike{width:10%;}
#qnaReply{width:10%;}
#qnaView{width:10%;}
#qnaContent{width:55%;}
#qnaUser{width:15%;}

/* 좋아요, 답변, 조회수 세부 배열 */
.qnaBoard_main{width:100%;}
.qnaBoard_main>div{width:100%; float:left;}
div[id$=_1]{padding-top:7px;}
div[id$=_2]{width:100%; display:flex; font-size:15px;}
div[id$=_4]{width:30%; text-align:center;}
div[id$=_5]{width:70%; padding:0px 0px 0px 10px; text-align:left;}
div[id$=_3]{font-size:12px; color:darkgray; text-align:center;}

/* 사용자 이모티콘 세부 정렬 */
#qnaUser_4{text-align:right;}

/* 게시글 제목 */
#qnaTitle{font-size:18px; font-weight:bold; padding-top:10px !important;}

/* 태그 버튼 스타일 */
/*tr, td, td>div{border:1px solid black;}*/
#noTag{padding:3px 0 0 0px !important; margin:0; font-size:13px; color:lightgray;}
.w3-button{height:10px; margin-top:4px; padding-top:0.1% !important; padding-bottom:3% !important;}

/* hover 시 나타나는 검색 툴팁 스타일 */
.qnaSearch_tip{position:relative; display:inline-block; cursor:pointer;}

.qnaSearch_tip .tooltiptext{
  visibility:hidden;    /* [visibility] 요소 숨김 여부 / [hidden] 숨김 / [visible] 보임 */
  width:300px;
  background-color:rgb(220, 53, 69);
  color:white;
  text-align:left;
  border-radius:6px;    /* 테두리 경계의 꼭짓점 둥글게 */
  padding:10px 5px 10px 30px;
  position:absolute;
  z-index:1;    /* [z-index] 위치 지정 요소 및 그 자손 또는 하위 플렉스 아이템의 z축 순서 지정 */
  bottom:130%;
  left:140%;
  margin-left:-60px;
}

.qnaSearch_tip .tooltiptext::after{
  content:"";   /* [content] 생성한 값으로 요소 대체 */
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-5px;
  border-width:5px;
  border-style:solid;
  border-color:rgb(220, 53, 69) transparent transparent transparent; /*[transparent] 투명화 */
}

.qnaSearch_tip:hover .tooltiptext{visibility:visible;}

/* a태그 스타일 */
#qnaTitle>a, #qnaUser_5>a, .w3-button>a, div[class^=qnaList_]>a, .btn>a, .pagination li>a{text-decoration:none !important;}
#qnaTitle a:hover, #qnaUser_5 a:hover, .w3-button a:hover, .btn>a:hover{color:white;}
[class^=qnaList_]>a:hover{color:lightgray;}

/* 페이지네이션 배열 및 스타일 */
.pagingArea{height:100px; width:100%; display:flex; position:left;}
.nullArea{width:35%;}
.pagination{height:100%; margin:auto; padding-top:30px;}
.pagination li>a{border:0; padding:10px 16px; color:#424242;}
.pagination li>a:active{background-color:rgb(220, 53, 69); color:white;}