<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.like5.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.like5.booking.model.vo.Booking" alias="Booking"/>
		<typeAlias type="com.kh.like5.booking.model.vo.Office" alias="Office" />
		<typeAlias type="com.kh.like5.common.model.vo.Attachment" alias="Attachment" />
		
	</typeAliases>
	
	<mappers>
			<mapper resource="/mappers/booking-mapper.xml"/>
			<mapper resource="/mappers/member-mapper.xml"/>
			<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
</configuration>
